<div class="opt_FixedCallContainer">
    <div class="opt_arrowContainer">
        <p>V</p>
    </div>
    <div class="opt_fixedCallContainerContent">
        <p>'+text+'</p>
        <div class="opt_callButton">
            Call <span class="opt_number"></span>
        </div>
    </div>
</div>