.opt_hide {
    max-height: 0 !important;
    padding: 0 !important;
}

.opt_FixedCallContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.opt_arrowContainer {
    width: 40px;
    height: 24px;
    background: #54a8d4;
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.opt_arrowContainer:before, .opt_arrowContainer:after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 11px;
    position: absolute;
    background: #54a8d4;
    z-index: -1;
    top: 4px;
}

.opt_arrowContainer:before {
    -webkit-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
    left: 7px;
}

.opt_arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 40%;
    -webkit-transition-property: all;
    transition-property: all;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.opt_arrowContainer.up .opt_arrow {
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 40%;
}

.opt_arrowContainer.down .opt_arrow {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.opt_arrowContainer:after {
    right: 7px;
    -webkit-transform: rotate(290deg);
    -ms-transform: rotate(290deg);
    transform: rotate(290deg);
}

.opt_fixedCallContainerContent {
    background: #54a8d4;
    text-align: center;
    padding: 15px 10px;
    color: white;
    font-family: "Helvetica Neue";
    -webkit-transition-property: all;
    transition-property: all;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
    max-height: 300px;
}

.opt_fixedCallContainerContent p {
    font-size: 18px;
    font-weight: bold;
    line-height: initial;
    margin-bottom: 10px;
}

.opt_fixedCallContainerContent .opt_callButton {
    border: 2px solid white;
    border-radius: 40px;
    max-width: 290px;
    margin: auto;
    padding: 10px 50px;
}

.opt_fixedCallContainerContent .opt_callButton p {
    font-weight: normal;
    margin: 0;
    font-size: 22px;
    position: relative;
}

.opt_fixedCallContainerContent .opt_callButton p:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #84ef00;
    border-radius: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -20px;
    top: 50%;
    position: absolute;
    
}

.opt_fixedCallContainerContent .opt_callButton .mobile-header {
    margin: 0;
    display: inline-block;
}

.opt_fixedCallContainerContent .opt_callButton .mobile-header a {
    font-size: 22px;
}