.empl_header {
    display: none;
}

.empl_secondsection {
        background: #f3f3f3;
}

#opt_newBanner {
    background: #54a8d4;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

#opt_newBanner > .row {
    max-width: 90rem;
    background: url("https://i.imgur.com/5lRz7bs.jpg") #54a8d4 no-repeat;
    background-size: auto 100%;
    padding-top: 100px;
}

#opt_newBanner a {
    color: white;
}

.page-template-contentordering .section-steps h3 {
    line-height: initial;
    margin-top: 10px;
}

@media (min-width: 900px) {
  .empl_secondsection .row .we-can-help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 900px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
  }
}

.opt_GreenDot {
    position: relative;
}

.opt_GreenDot:after {
    content: "";
    position: absolute;
    left: -20px;
    width: 10px;
    height: 10px;
    background: #41d300;
    border-radius: 10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
}

#opt_newBanner .opt_Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
}

#opt_newBanner .opt_Header .opt_Logo img {
    max-width: 400px;
    margin-left: 50px;
}

#opt_newBanner .opt_Header .opt_Information p {
    display: inline-block;
}

#opt_newBanner .opt_header .opt_Information .opt_Phone .opt_Number {
    position: relative;
    padding-left: 45px;
    margin-left: 10px
}

#opt_newBanner .opt_header .opt_Information .opt_Phone .opt_Number:after {
    content:"";
    position: absolute;
    left: 5px;
    top: 0;
    width: 25px;
    height: 100%;
    background: url('https://employerline.co.nz/wp-content/themes/fairworkhelp/img/steps-1.png');
    -webkit-filter: brightness(0)invert(1);
            filter: brightness(0)invert(1);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#opt_newBanner .opt_Bottom .opt_Half {
    max-width: 550px;
    float: right;
    margin-top: 122px;
    margin-bottom: 75px;
}

#opt_newBanner .opt_Bottom .opt_LargeText {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 38px;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

#opt_newBanner .opt_Bottom .opt_Bold {
    font-weight: 700
}

.opt_Button {
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px 0;
    width: 420px;
}

.opt_Button .opt_GreenDot {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.opt_Button .opt_GreenDot:after {
    width: 12.5px;
    height: 12.5px;
}

.opt_Button *{
    margin-bottom: 0;
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    letter-spacing: 0px;
}

.opt_Button p {
    font-weight: 400;
    font-size: 28px;
}

.opt_Button .opt_CenterLine {
    line-height: 38px;
}

.opt_Button .opt_Number {
    font-weight: 700;
    font-size: 38px;
}

#opt_newBanner .opt_BottomText p {
    margin: 5px;
}

#opt_newBanner .opt_stars {
    display: inline-block;
    width: 80px;
    height: 13px;
    background: url(https://employerline.co.nz/wp-content/themes/fairworkhelp/img/fm_images/stars.png) no-repeat 0 0;
    margin: 0 7px;
}


.empl_secondsection h3 {
   font-size: 30px;
}

.empl_secondsection .row .we-can-help li {
    width: 100%;
    max-width: 175px;
    margin: auto;
}

.empl_secondsection .row .we-can-help h4 {
    text-transform: capitalize;
    font-size: 22px;
    text-align: left;
}

.empl_secondsection:not(#opt_Form) {
    display: none;
}

.section-steps {
    background: #1775CC;
}

.page-template-contentordering .section-steps h3 {
    font-size: 30px;
}

.section-steps p, .section-steps h3, .section-steps a {
    color:white !important;
}

.section-steps img {
    -webkit-filter: brightness(0)invert(1);
            filter: brightness(0)invert(1)
}

section.testimonials-landing h3.text-center strong.opt_TestimonialsHeading {
    font-size: 30px;
}

#opt_Form.empl_secondsection {
    background: white;
    text-align: center;
    padding-bottom: 0;
}

#opt_Form .opt_Box {
    max-width: 945px;
    margin: auto;
		border: 2px solid #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}

#opt_Form .opt_Button {
    background: #54a8d4;
    width: 360px;
}

#opt_Form .opt_Button p {
    font-size: 24px;
}

#opt_Form .opt_Button .opt_Number {
    font-size: 26px;
}

#opt_Form .opt_Half {
    width: 50%;
    padding: 20px 50px;
    padding-bottom: 40px;
}

#opt_Form .opt_FormBoxHeading p {
    color: #5A5A5A;	
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;	
    font-size: 20px; 
    font-weight: 300;
}

#opt_Form .opt_Left img {
    height: 80px;
    margin-bottom: 10px;
}

#opt_Form .opt_FormBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#opt_Form .opt_Right #popup {
    display: block;
    position: static;
}

#opt_Form .opt_Right #popup .overlay {
    position: static;
    top: initial;
    left: initial;
    width: 100%;
    height: auto;
    background: initial;
}

#opt_Form .opt_Right #popup .overlay .modalmodal {
    position: initial;
    left: initial;
    top: initial;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
    width: 100%;
}

#opt_Form .opt_Right #popup .overlay .modalmodal .modalmodal-inner {
    position: initial;
    left: initial;
    top: initial;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
    padding: 0;
}

#opt_Form .opt_Right #popup .overlay .modalmodal .gform_body ul .speaktoanadvisor {
    display: none !important;
}

#opt_Form .opt_Right #popup .overlay .modalmodal .gform_body ul li {
    margin-bottom: 10px;
}

#opt_Form .modalmodal .gform_wrapper ul li textarea, #opt_Form .modalmodal .gform_wrapper ul li input, #opt_Form .modalmodal .gform_wrapper ul li select {
    font-weight: 400;
    resize: none;
}

#opt_Form .modalmodal .gform_wrapper ul li textarea {
    height: 96px;
}

#opt_Form .opt_Right #popup #close {
    display: none;
}

#opt_Form .opt_MobileText {
    display: none;
}

.modalmodal .gform_wrapper ul li, .modalmodal .gform_wrapper .gform_footer .button {
    float: none !important;
    width: 100% !important;
    max-width: initial;
}

#opt_Form .opt_Testimonials {
    text-align: left;
    position: relative;
    margin-top: 20px;
    background: rgba(0,0,0,.0)
}

#opt_Form .opt_Testimonials p {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    z-index: 10;
}

#opt_Form .opt_Testimonials .opt_FirstQuote,#opt_Form .opt_Testimonials .opt_SecondQuote {
    position: relative;
}

#opt_Form .opt_Testimonials .opt_FirstQuote:after, #opt_Form .opt_Testimonials .opt_SecondQuote:after {
    content:"";
    position: absolute;
    background: lightblue;
    width: 90px;
    height: 90px;
    z-index: -1;
}

#opt_Form .opt_Testimonials .opt_FirstQuote:after {
    top: -10px;
    left: -5px;  
}

#opt_Form .opt_Testimonials .opt_SecondQuote:after {
    bottom: -45px;
    right: 30px;
}



@media (max-width: 1480px) {
    #opt_newBanner > .row {
        padding-right: 20px;
        background-position: -200px;
    }
}

@media (max-width: 1200px) {
    #opt_newBanner > .row {
        background-position: -360px;
    }
}

@media (max-width: 1050px) {
    #opt_newBanner > .row {
        background-position: -600px;
    }
}

@media (max-width: 838px) {
    #opt_newBanner > .row {
        background-position: -620px;
    }
}

@media (max-width: 825px) {
    #opt_newBanner > .row {
        background: url(https://i.imgur.com/MZQzgFp.jpg) no-repeat;
        background-size: 100% auto;
        padding-top: 30px;
        padding-right: 0;
    }
    #opt_newBanner .opt_Header {
        height: calc(100vw * .32);
        height: -webkit-calc(100vw * .32);
        min-height: 102px;
    }
    #opt_newBanner .opt_Information {
        display: none;
    }
    #opt_newBanner .opt_Bottom .opt_Half {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }
    #opt_newBanner .opt_Bottom .opt_Button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 825px) {
    #opt_Form .opt_Box {
        border: none;
        padding-top: 0;
    }
    #opt_Form .opt_FormHeading, .opt_TestimonialsHeading {
        line-height: initial !important;
        margin-bottom: 0;
    }
    .empl_secondsection h3 {
        line-height: initial !important;
    }
    #opt_Form .opt_FormBottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #opt_Form .opt_FormBottom .opt_Half {
        width: 100%;
        max-width: 450px
    }
    #opt_Form .opt_FormBoxHeading p {
        margin: 0;
    }
    #opt_Form .opt_FormBottom .opt_Half.opt_Left {
        padding-bottom: 0;
        padding-top: 0;
    }
    #opt_Form .opt_FormBottom .opt_Half.opt_Right {
        padding-top: 0;
    }
    #opt_Form .opt_FormBottom .opt_Half.opt_Left img {
        display: none;
    }
    #opt_Form .opt_FormBottom .opt_Half.opt_Left .opt_Button {
        margin: 10px 0;
    }
    #opt_Form .opt_MobileText {
        display: block;
    }
    #opt_Form .opt_FormBoxHeading {
        font-weight: 400;   
    }
    #opt_Form .opt_FormSubText {
        color: #5A5A5A;
				font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width: 565px) {
    #opt_Form {
        padding-top: 0;
    }
    #opt_newBanner .opt_Bottom .opt_LargeText {
        font-size: 24px;
    }
    .empl_secondsection .row .we-can-help h4 {
        background-size: 20px;
        padding-left: 34px;
    }
    .empl_secondsection {
        background: #f3f3f3;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 10px;
    }
    .empl_secondsection .large-12 .we-can-help {
        padding-left: 10px;
        width: 360px;
        margin: auto;
    }
    .we-can-help li {
        float: left;
    }
    #opt_Form .opt_FormBottom .opt_Half {
        padding: 0;
    }
    #opt_newBanner .opt_Button {
        width: 300px;
        margin: 10px auto;
    }

    .opt_Button p {
        font-size: 16px;
    }

    .opt_Button .opt_Number {
        font-size: 22px;
    }
    .opt_FormBoxHeading {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #opt_Form .opt_FormBottom .opt_Half.opt_Left .opt_Button {
        width: 260px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #opt_Form .opt_Button p {
        font-size: 16px;
    }

    #opt_Form .opt_Button .opt_Number {
        font-size: 20px;
    }
}

@media (max-width: 460px) {
  	#opt_Form.empl_secondsection {
      margin-top: 10px;
  	}
    #opt_Form .opt_Testimonials {
        margin-top: 120px;
    }
    #opt_newBanner .row {
        padding-left: 10px;
        padding-right: 10px;
    }
    #opt_newBanner .opt_Header .opt_Logo img {
        max-width: 180px;
        margin-left: 20px;
    }
    #opt_newBanner .opt_Bottom .opt_LargeText {
        font-size: 20px;
    }
    .empl_secondsection h3 {
        font-size: 22px
    }    
    .empl_secondsection .row .we-can-help h4 {
        font-size: 16px;
        background-size: 16px;
        padding-left: 26px;
    }
}