<section id="opt_newBanner">
    <div class="row">
        <div class="opt_Header">
            <div class="opt_Logo">
                <img src="https://employerline.co.nz/wp-content/themes/fairworkhelp/img/fm_images/logo-header.png">
            </div>
            <div class="opt_Information">
                <div class="opt_Row">
                    <a class="opt_Phone" href="">
                        <p class="opt_GreenDot">24/7</p>
                        <p><span class="opt_Number"></span></p>
                    </a>
                </div>
                <div class="opt_Row">
                    <p class="opt_SmallText">Free `+title+` Helpline for Businesses</p>
                </div>
            </div>
        </div>
        <div class="opt_Bottom">
            <div class="opt_Half">
                <div class="opt_TopText">
                    <p class="opt_LargeText">We can advise in all areas of the 
                    <br>
                    <span id="opt_Page" class="opt_Bold opt_LargeText">`+title+`</span>
                    </p>
                    <p class="opt_SmallText">Toll Free 24 Hour Helpline <strong>For Business Owners</strong></p>
                </div>
                <div class="opt_Button">
                    <a href="" class="opt_Phone">
                        <p class="opt_GreenDot"><span class="opt_CenterLine">Toll Free</span><span class="opt_Number"></span></p>
                    </a>
                </div>
                <div class="opt_BottomText">
                    <p class="opt_SmallText">Giving over 12,000 businesses like yours peace of mind.</p>
                    <p class="opt_Bold">Employsure is rated <span class="opt_Stars"></span> based on 532 reviews</p>
                </div>
            </div>
        </div>
    </div>
</section>