<section class="empl_secondsection" id="opt_Form">
    <div class="row">
        <div class="large-12 column">
            <div class="row">
                <div class="large-12 column">
                    <h3 class="text-center opt_FormHeading">
                    FREE <span class="opt_PageTitle"> `+title+`</span> Advice <strong>for business owners</h3>
                </div>
            </div>
            <div class="row">
                <div class="large-12 column">
                    <div class="opt_Box">
                        <div class="opt_FormBoxHeading">
                            <p>Contact us by phone or email</p>
                        </div>
                        <div class="opt_FormBottom">
                            <div class="opt_Half opt_Left">
                                <img src="https://employerline.co.nz/wp-content/themes/fairworkhelp/img/steps-1.png">
                                <div class="opt_Button">
                                    <a href="" class="opt_Phone">
                                        <p class="opt_GreenDot"><span class="opt_CenterLine">Toll Free</span><span class="opt_Number"></span></p>
                                    </a>
                                </div>
                                <div class="opt_FormSubText">
                                    <p>Advisors ready to take your call 24/7</p>
                                    <p class="opt_MobileText">Complete the form and
                                    we’ll call you back ASAP</p>
                                </div>
                            </div>
                            <div class="opt_Half opt_Right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>