.empl_header .row {  
    background-color: rgba(75,167,215,0.4);
    min-height: initial !important;
}

.empl_center p.hidefrommobile {
    font-size: 32px;
}

.opt_SmallText {
    font-size: 22px;   
}

.readytocall {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;   
    margin-bottom: 75px !important;
    flex-direction: column;
}

.empl_header .hidefrommobile{
       display: block;
}

.toolfree24.hidefromdesktop {
    display: none !important;
}

.readytocall .hidefromdesktop {
    display: none !important;   
}

.readytocall .togglemodal.hidefromtable {
    display: flex !important;
}

.readytocall > a.readytocall_f_a {
    background: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50px;
    height: 70px;
    width: 435px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}

.readytocall .togglemodal.hidefromtable {
    background: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    width: 260px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    position: relative;
    font-size: 22px;
}

.readytocall > a.readytocall_f_a:before {
    content:"Call Now";
    margin-right: 5px;
    font-weight: 400;   
    font-size: 28px;
}
.readytocall > a.readytocall_f_a:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #40d654;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 30px;
    position: absolute;
}

.readytocall .togglemodal.hidefromtable {
    font-weight: 400;   
}

.mobilestuff,.mcall {
    display: none !important;
}

@media (max-width: 600px) {
    .empl_center .hidefrommobile {
        line-height: 1.6;
        font-size: 22px !important;
    }
    .opt_SmallText {
        font-size: 16px;   
    }
    .readytocall {
        margin-bottom: 30px !important;
    }
    
    .readytocall .readytocall_f_a {
        margin-bottom: 10px !important;   
    }
    
}

@media (max-width: 460px) {
    .readytocall > a.readytocall_f_a {
        width: 290px;
        font-size: 22px !important;
        height: 50px;
        margin-bottom: 0px !important;
    }
    .readytocall > a.readytocall_f_a:before {
        content: "Call";
        font-size: 22px;
    }
    
    .readytocall .togglemodal.hidefromtable  {
        font-size: 16px !important;   
    }
    .readytocall > a.readytocall_f_a:after {
        left: 35px;   
    }
}

@media (max-width: 420px) {
    .readytocall > a.readytocall_f_a, .readytocall .togglemodal.hidefromtable {
        height: 54px !important;
        border-width: 2px;
        font-size: 20px;
    }
    .empl_center .hidefrommobile br:nth-child(1) {
        display: none;   
    }
    .empl_center .hidefrommobile {
        font-size: 24px !important;
    }
    .empl_center .hidefrommobile .opt_SmallText {
        font-size: 18px !important;   
    }
}   