.empl_header .row {  
    min-height: initial;
}

.empl_center p.hidefrommobile {
    font-size: 32px;
}

.opt_SmallText {
    font-size: 22px;   
}

.empl_header .hidefrommobile{
    display: block;
}

.empl_header .readytocall {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;   
    margin-bottom: 75px !important;
}

.toolfree24.hidefromdesktop {
    display: none !important;
}

.readytocall .hidefromdesktop {
    display: none !important;   
}

.readytocall .togglemodal.hidefromtable {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.readytocall > a.readytocall_f_a, .readytocall .togglemodal.hidefromtable {
    background: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50px;
    height: 70px;
    width: 260px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    position: relative;
    font-size: 22px;
}

.readytocall > a.readytocall_f_a {
 	padding-left: 12px; 
}
.readytocall > a.readytocall_f_a:before {
    content:"Call";
    margin-right: 5px;
    font-weight: 400;   
}
.readytocall > a.readytocall_f_a:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #40d654;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 26px;
    position: absolute;
}

.readytocall .togglemodal.hidefromtable {
    font-weight: 400;   
}

.empl_center .mobilestuff, .empl_center .mcall {
    display: none !important;
}

@media (max-width: 600px) {
    .empl_center .hidefrommobile {
        line-height: 1.6;
        font-size: 22px !important;
    }
    .opt_SmallText {
        font-size: 16px;   
    }
    .readytocall {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;   
        margin-bottom: 25px !important;
    }
    
    .readytocall .readytocall_f_a {
        margin-bottom: 10px !important;   
    }
    
}

@media (max-width: 420px) {
    .readytocall > a.readytocall_f_a, .readytocall .togglemodal.hidefromtable {
        height: 54px !important;
        border-width: 2px;
        font-size: 20px;
    }
    .empl_center .hidefrommobile br:nth-child(1) {
        display: none;   
    }
    .empl_center .hidefrommobile {
        font-size: 24px !important;
    }
    .empl_center .hidefrommobile .opt_SmallText {
        font-size: 18px !important;   
    }
}   