.testimonials-landing .large-3.medium-6.small-12.column {width: 100%;}
section.testimonials-landing .block-wrapper {height: auto !important; min-height: initial !important;}
.reviews-carousel.flexslider {padding:21px 25px 62px 25px !important; margin:0 !important; -webkit-box-shadow:none !important; box-shadow:none !important; border-radius:0px !important; border:none !important; background-color:#f3f3f3;}
.reviews-carousel.flexslider ul.slides {padding:0 !important; margin:0 !important; -webkit-box-shadow:none !important; box-shadow:none !important; border-radius:0px !important; border:none !important;}
.reviews-carousel.flexslider ul.slides li {padding:0 !important; margin:0 !important; -webkit-box-shadow:none !important; box-shadow:none !important; border-radius:0px !important; border:none !important;}
.reviews-carousel.flexslider ul.slides li .large-3 {padding:0; margin:0;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper {padding:0; margin:0; border:none; border-radius:0px; font-size:16px; line-height:25px; color:#0A0A0A;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper p {padding:0; margin:0; font-size:16px; line-height:25px; color:#0A0A0A;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper .title {font-weight:700; display:block; padding:7px 0 10px 0;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper .heading-main {padding:0; margin:0;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper .nr-review-date-wrapper {padding:0; margin:0;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper .nr-review-date {font-size:16px; line-height:25px; color:#0072CE;}
.reviews-carousel.flexslider ul.slides li .large-3 .block-wrapper .nr-profile-image {margin:0 0 19px 0;}


.reviews-carousel.flexslider .flex-control-nav {text-align:center; bottom:20px; left:0; padding:0 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.reviews-carousel.flexslider .flex-control-nav li {margin:0 6px;}
.reviews-carousel.flexslider .flex-control-nav li a {height:12px; line-height:12px; border-radius:6px; -webkit-box-shadow:none; box-shadow:none; background-color:transparent; border:1px solid #0072ce; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.reviews-carousel.flexslider .flex-control-nav li a.flex-active {background-color:#0072ce;}


.reviews-carousel.flexslider .flex-direction-nav {bottom:0;}
.reviews-carousel.flexslider .flex-direction-nav li a {top:auto !important; bottom:12px !important; width:17px; height:27px; border:none; opacity:1; -webkit-box-shadow:none; box-shadow:none; margin:0 !important; text-align:left; text-indent:-9999px;}
.reviews-carousel.flexslider .flex-direction-nav li a:before {display:none !important;}
.reviews-carousel.flexslider .flex-direction-nav li a.flex-prev {background:transparent url("//cdn.optimizely.com/img/5102280493/8a3e5786e272429d9b1309336a0fb756.png") no-repeat left top !important; -webkit-background-size:17px auto !important; background-size:17px auto !important; left:18px !important;}
.reviews-carousel.flexslider .flex-direction-nav li a.flex-next {background:transparent url("//cdn.optimizely.com/img/5102280493/27ab665d9a3c41b4aacdf22db21b60b8.png") no-repeat left top !important; -webkit-background-size:17px auto !important; background-size:17px auto !important; right:18px !important;}